extends layout

block content
  if (user)
    .account.vip
      h1 Welcome #{user.username}
      if (user.vip == undefined || user.vip == false) 
        a(href="/apply") 
          button Apply for VIP Access
      a(href="/post") 
        button Create Post
      a(href="/logout") 
        button Log out
  else
    .account
      h1 Log In
      form(action="/login" method='post') 
        label(for="username") Username
        input(type="text" name='username')
        label(for="password") Password
        input(type="password" name='password')
        button(type="submit") Log in
      a(href="/signup") 
        button Sign up
  if (user)
    if(user.vip == true)   
      .posts
        if posts
          h1 Posts
          ul 
            each post in posts  
              li  
                div 
                  h1=post.title 
                  | #{post.formatDate}
                b #{post.user} 
                hr 
                p=post.content
    else 
      .posts
        if posts
          h1 Posts
          ul 
            each post in posts  
              li
                div 
                  h1=post.title 
                  | #{post.formatDate}
                b  
                hr 
                p=post.content     
  else 
    .posts
      if posts
        h1 Posts
        ul 
          each post in posts  
            li
              div 
                h1=post.title 
                | #{post.formatDate}
              b  
              hr 
              p=post.content     