extends layout

block content
  h2=user
  if (user)
    h1 Welcome #{user.username}
    a(href="/post") 
      button Create Post
    a(href="/logout") 
      button Log out
  else
    h1 Log In
    form(action="/login" method='post') 
      label(for="username") Username
      input(type="text" name='username')
      label(for="password") Password
      input(type="password" name='password')
      button(type="submit") Log in
    h1 OR
    a(href="/signup") 
      button Sign up
  if posts
    h1 Posts
    ul 
      each post in posts  
        li  
          h1=post.title 
          hr 
          p 
            b #{post.user} 
            | #{post.date}
          p=post.content